PORT=3500
DB_USERNAME=<your username>
DB_PASSWORD=<your pasword>
DB_URL=mongodb+srv://<your username>:<your pasword>@<your cluster name>/<your db>?retryWrites=true&w=majority
JWT_SECRET=<your jwt string>
JWT_EXPIRES_IN=1
